[submodule "resources/libs/cherrypy"]
	path = resources/libs/cherrypy
	url = https://github.com/mazkolain/cherrypy.git
[submodule "resources/libs/xbmc-skinutils"]
	path = resources/libs/xbmc-skinutils
	url = https://github.com/mazkolain/xbmc-skinutils.git
[submodule "resources/libs/taskutils"]
	path = resources/libs/taskutils
	url = https://github.com/mazkolain/taskutils.git
[submodule "resources/dlls"]
	path = resources/dlls
	url = https://github.com/mazkolain/spotify-libs.git
[submodule "resources/libs/pyspotify"]
	path = resources/libs/pyspotify
	url = https://github.com/mopidy/pyspotify
